<a href="https://colab.research.google.com/github/Toyonaga15/Python-for-finance/blob/main/Intraday_Asset_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!pip install yfinance
import pandas as pd
import datetime
import yfinance as yf
from dateutil.relativedelta import relativedelta
from dateutil.relativedelta import relativedelta,MO,TU,WE,TH,FR,SA,SU

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.0)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [72]:
start_year = int(input('Enter the initial year of the analysis: '))
end_year = int(input('Enter the final year of the analysis: '))
mounth = int(input('Which month do you want to analyze? (ex: 1, 2, 3...): '))
day = input('Which day of the week do you want to analyze? (ex: Mo, Tu, We...): ').strip().upper()
week = int(input(f'Which {day} of the month do you want to analyze? (ex: 1, 2, 3, 4, 5): '))

Enter the initial year of the analysis: 2010
Enter the final year of the analysis: 2023
Which month do you want to analyze? (ex: 1, 2, 3...): 1
Which day of the week do you want to analyze? (ex: Mo, Tu, We...): mo
Which MO of the month do you want to analyze? (ex: 1, 2, 3, 4, 5): 4

In [73]:
# Get the asset name and download the data from Yahoo Finance
asset = input('Enter the asset name according to Yahoo Finance: ').strip().upper()
data_yf = yf.download(asset, start=f'{start_year}-01-01', end=f'{end_year}-12-31', interval='1d')

Enter the asset name according to Yahoo Finance: aapl
[*********************100%***********************]  1 of 1 completed

In [74]:
# Add new columns with the percentage change of the opening, closing, high, and low values
data_yf['Closing in %']= data_yf['Close'].pct_change()*100
data_yf['Opening in %'] = ((data_yf['Open']-data_yf['Close'].shift(1))/data_yf['Close'])*100
data_yf['Max in %'] = ((data_yf['High']-data_yf['Close'].shift(1))/data_yf['Close'])*100
data_yf['Min in %'] = ((data_yf['Low']-data_yf['Close'].shift(1))/data_yf['Close'])*100

# Convert the index to a datetime format
data_yf.index = pd.to_datetime(data_yf.index.date)
data_yf.tail()

,Open,High,Low,Close,Adj Close,Volume,Closing in %,Opening in %,Max in %,Min in %
2023-01-09,130.470001,133.410004,129.889999,130.149994,130.149994,70790800,0.408887,0.653097,2.912031,0.207456
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.729996,63896200,0.445641,0.084143,0.849079,-1.552818
2023-01-11,131.250000,133.509995,130.460007,133.490005,133.490005,69458900,2.111229,0.389545,2.082552,-0.202254
2023-01-12,133.880005,134.259995,131.440002,133.410004,133.410004,71379600,-0.059931,0.292331,0.577160,-1.536619
2023-01-13,132.029999,134.919998,131.660004,134.759995,134.759995,57758000,1.011911,-1.024046,1.120507,-1.298605

In [75]:
# Convert the day input to the corresponding date format
if day == 'MO':
  day = MO
elif day == 'TU':
  day = TU
elif day == 'WE':
  day = WE
elif day == 'TH':
  day = TH
elif day == 'FR':
  day = FR
elif day == 'SA':
  day = SA
elif day == 'SU':
  day = SU

i = 0
dates=[]

# Get the dates of the selected day of the week in the selected month
for i in range (start_year,end_year+1):
  date = datetime.date(i, 1, 1)
  i=+1
  answer = date + relativedelta(months= mounth-1, weekday= day(week))
  dates.append(answer)
  print(str(f'{answer}.'),end=" ")

2010-01-25. 2011-01-24. 2012-01-23. 2013-01-28. 2014-01-27. 2015-01-26. 2016-01-25. 2017-01-23. 2018-01-22. 2019-01-28. 2020-01-27. 2021-01-25. 2022-01-24. 2023-01-23.

In [76]:
# Filter the dataframe to only include the selected dates
df = data_yf.loc[data_yf.index.isin(dates)]
df

,Open,High,Low,Close,Adj Close,Volume,Closing in %,Opening in %,Max in %,Min in %
2010-01-25,7.232500,7.310714,7.149643,7.252500,6.182160,1065699600,2.690266,2.344020,3.422458,1.201557
2011-01-24,11.673929,12.051786,11.668571,12.051786,10.273160,574683200,3.284163,0.044456,3.179736,0.000000
2012-01-23,15.095357,15.301786,15.082143,15.264643,13.011855,306062400,1.691653,0.554506,1.906843,0.467939
2013-01-28,15.636786,16.186071,15.566429,16.065357,13.816011,785517600,2.261981,-0.455723,2.963341,-0.893668
2014-01-27,19.645357,19.814285,19.491072,19.660713,17.332727,554878800,0.811243,0.726609,1.585826,-0.058130
2015-01-26,28.434999,28.590000,28.200001,28.275000,25.451591,222460000,0.106209,0.671967,1.220157,-0.159151
2016-01-25,25.379999,25.382500,24.802500,24.860001,22.758879,207178000,-1.952273,0.100562,0.110620,-2.222445
2017-01-23,30.000000,30.202499,29.942499,30.020000,28.094231,88200800,0.066668,0.000000,0.674548,-0.191542
2018-01-22,44.325001,44.445000,44.150002,44.250000,42.077312,108434400,-0.818114,-0.655369,-0.384185,-1.050848
2019-01-28,38.947498,39.082500,38.415001,39.075001,37.714237,104768400,-0.925451,-1.260397,-0.914903,-2.623155
2020-01-27,77.514999,77.942497,76.220001,77.237503,75.667839,161940000,-2.940525,-2.670335,-2.116850,-4.346979
2021-01-25,143.070007,145.089996,136.539993,142.919998,141.224701,157611700,2.768383,2.798769,4.212139,-1.770231
2022-01-24,160.020004,162.300003,154.699997,161.619995,160.687393,162294600,-0.486429,-1.478777,-0.068061,-4.770454

In [77]:
# Create a new column indicating whether the closing value was positive or negative
resultC = []

for i in df['Closing in %']:
  if i > 0:
    resultC.append('Positive')
  else:
    resultC.append('Negative')

df['Result C'] = resultC

# Create a new column indicating whether the opening value was positive or negative
resultO = []

for i in df['Opening in %']:
  if i > 0:
    resultO.append('Positive')
  else:
    resultO.append('Negative')

df['Result O'] = resultO

# Count the number of times the closing value was positive
c = 0
for i in df['Result C']:
  if i =='Positive':
    c=c+1
statC = (c/len(df['Result C']))*100

# Count the number of times the closing value was positive
d = 0
for i in df['Result O']:
  if i =='Positive':
    d=d+1
statO = (d/len(df['Result O']))*100

# Calculate the average of the maximum and minimum values
mmax = sum(df['Max in %'])/len(df['Max in %'])
mmin = sum(df['Min in %'])/len(df['Min in %'])

# Print the results
print(f'''Statistically the asset {asset} opened {round(statO,2)}% of the times in high and closed
{round(statC,2)}% of the times in high in the selected dates.''')
print(f'The average of the maximums is {round(mmax,2)}% and of the minimums {round(mmin,2)}%\n')

Statistically the asset AAPL opened 53.85% of the times in high and closed
61.54% of the times in high in the selected dates.
The average of the maximums is 1.21% and of the minimums -1.26%

<ipython-input-77-f9050ac47fcd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Result C'] = resultC
<ipython-input-77-f9050ac47fcd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Result O'] = resultO